*{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
  /*<----------- Reuseable components ---------->*/
.row
{
    margin : auto;
    padding : 20px;
    width : 1240px;
    height : auto;
}


/*<------------- Nav bar start ------------->*/

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
}
.logo img{
    height: auto;
    width: 280px;
}
#links{
    align-self: center;
}

.nav-menu ul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
.nav-menu li a {
    display: block;
    color: #000;
    padding: 8px 18px;
    text-decoration: none;
    transition: .3s ease-in-out;
  }
.nav-menu li a:hover {
    background-color: #555;
    color: white;
  }
   /*<------------- Nav bar ends ------------->*/

   /*<------------- Main body Start ------------->*/

   /*< Side Bar Starts >*/

.main-body{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.title{
    margin-bottom: 20px;
}
.title h3{
    margin-top: 6px ;
    text-align: left;
}
.side-menu ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .side-menu li a {
    display: block;
    color: #000;
    padding: 14px 0px;
    text-decoration: none;
    opacity: .6;
    transition: .1s ease-in-out;
  }
  .side-menu li a:hover {
    opacity: 1;
    color:rgb(11, 72, 253) ;
  }
   /*<- Side Bar ends >*/

   /*< Body Contents Start  >*/
    .content{
        width: 940px;
        height: auto;
    }
    .title h2{
        font-size: 24px;
        font-weight: bold;
    }
    .main-image img{
        width: 940px;
        height: 500px;
        object-fit: cover;
        object-position: top;
    }
    .content .text{    
        margin: 20px 0px;
    }
    .content .text p{
        padding: 15px 0px;
    }
    /* .content .text p:nth-child(3){
        margin-bottom:20px;
    } */
    .content .text h2{
        padding-top:24px ;
    }
    .content .campus:first-child{
        padding-top: 0px;
    }
    .campus{
        padding: 16px 0px;
    }
   .campus-content-left{
       display: flex;
       flex-wrap: nowrap;
       justify-content: space-between;
       padding-top: 20px;
   }
   .campus-content-right{
       flex-wrap: nowrap;
       padding-top: 20px;
       justify-content: space-between;
       display: flex;
       flex-direction: row-reverse;
   }
   .campus-content-right .campus-image{
       padding-left: 20px;
   }
   .campus-content-left .campus-image{
       padding-right: 20px;
   }
   .campus-image img{
    height: 156px;
    width: 280px;
    object-fit: cover;
    object-position: top;
   }
   .details
   {
       line-height: 24px;
   }
   .location{
       margin-top: 24px;
   }
   .location-image{
       padding: 32px 0px;
    }
    /*<  Body Contents End >*/
    
    /*<------------- Main body End ------------->*/
    /*<------------ Extra section  start ------------->*/
    .video{
        padding-top: 0px;
    }
    .row .t{
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 32px;
    }



    .contact{
        padding: 60px 0px;
	    width: 100%;
        align-content: center;
        background-color: #146EB4;
    }

    .containerc{
        margin : auto;
        /* padding : 20px; */
        width : 1240px;
        height : auto; 
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 20px 100px; */
        
    }
    
    
    .contact-box{
        width: 1240px;
        display: grid;
        grid-template-columns: 40% 60%;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* background: url("img/bg.jpg") no-repeat center;
        background-size: cover;
        height: 100%; */
        background-color: #fff;
        /* background-color: #216DFF; */
        /* border: 2px solid rgba(255, 255, 255, 0.30); */
        border-radius: 6px;
        overflow: hidden;
    }
    
    .contact-box .left{
        padding: 25px 40px;
        /* background: url("img/bg.jpg") no-repeat center;
        background-size: cover;
        height: 100%; */
    }
    .left .text p:first-child{
        font-size:24px ;
        padding:18px;
        font-weight: 600;
        /* background-color: wheat; */
    }
    .left .icon img{
        width: 180px;;
        height: 100%;
        padding-top:24px ;
        /* background-color: wheat; */
    }
    .contact-box .right{
        padding: 25px 40px;
    }
    .contact ::placeholder{
        color: rgba(0, 0, 0, 0.5);
    }
    
    
    
    .field{
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        margin-bottom: 22px;
        transition: .3s;
        
    }
    
    
    textarea{
        min-height: 150px;
    }
    button{
        align-content: center;
    }
    .btn{
        width: 100%;
        padding: 1rem 1rem;
        background-color: #FF9900;
        color: white;
        font-size: 1.1rem;
        border: 1px solid rgba(255, 255, 255, 0.308);
        outline: none;
        cursor: pointer;
        transition: .2s;
    }
    .btn img{
        fill: white;
        height: 100%;
        width: 18px;
        /* padding-top: 15px; */
    ;
    }
    .btn:hover{
        
        /* border: 1px solid #216DFF; */
        color: #fff;
        background-color: #E58A00;
    }
    
    .field:focus{
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

    /*<------------ Extra section  End ------------->*/
    
   /*<------------- Fotter Menu Starts ------------->*/
   .footer{
       padding: 24px 0px;
       background-color: #333;
       color: #eee;
       text-align: center;
   }
   .footer p{
       padding:8px;
   }
   .footer p:first-child{
       padding-bottom: 24px;
       font-size: 20px;
       font-weight: 500;
   }
   .footer p:nth-child(2),.footer p:nth-child(3){
       padding:8px 0px;
       font-size:16px ;
       font-weight: 400;
   }
   .footer p:last-child{
       padding-top: 20px;
       line-height: 28px;
   }
   /*<------------- Fotter Menu Ends ------------->*/

   
